@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was created for a demo project for the University of North Florida by Jerrad Monagan</p>
<p>I used the following to assist in completing this project</p>
<h2>References</h2>
<a href="http://www.esquire.com/food-drink/drinks/g215/popular-bar-drinks-0609/">Pictures of drinks for database</a>