@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bartender</h1>
    <p class="lead">An application that allows customers to order drinks and bartenders to recieve those orders</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Customers","Create", "Orders")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Bartenders", "index","Orders")
    </div>
    <div class="col-md-4">
      @Html.ActionLink("Modify Menu", "Create", "Menus")
    </div>
</div>